<section class="l_hero__container">
    <div class="l_hero__content">
        <div class="l_hero__title">
            <p class="c_hero__title">Your Best Value Proposition</p>
        </div>
        <div class="l_hero__description">
            <p class="c_hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="l_hero_subscription">
            <button class="c_hero__subscription">Start free trail</button>
        </div>
    </div>
    <div class="c_hero__img">
        <img src="@/assets/hero panel.svg">
    </div>
</section>
    
    