<div class="Feature_Left">
    
    <div class="content_left">
        <h3 class="content_h3">Your Best Value Proposition</h3>
        <p class="content_pb"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</b></p>
        <p class="content_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>                     
        <img src="@/assets/Ellipse_L.svg" alt="Media">
        <p>Dhaka Oke, Product Designer</p>
    </div>

    <div class="Media_left">
        <!-- <img class="imgb" src="@/assets/Rectangle_R.svg" atl="Ellipse">
        <img class="imgw" src="@/assets/Rectangle_Rw.svg" atl="Ellipse"> -->
        <div class="imgb"></div>
        <div class="imgw"></div>
    </div>
</div>