<div class="feature_quote_left">
    <div class="feature">
        <p class="topic_title">Your Best Value Proposition</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="description2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="dot"></div>
        <p class="description3">Dhaka Oke, Product Designer</p>

            
    </div>
    <div class="image_container">
        <img class="image1" src="@/assets/feature_left_image1.svg">
        <img class="image2" src="@/assets/feature_left_image2.svg">
    </div>
</div>