<div class="feature_quote_left">
    <div class="content_feature">
        <p class="topic_title">Your Best Value Proposition</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="description2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="description3">Dhaka Oke, Product Designer</p>
    </div>
    <div class="image">

    </div>
</div>