<div class="l_feature_quote_left">
    <div class="l_feature">
        <p class="c_topic_title">Your Best Value Proposition</p>
        <p class="c_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="c_description2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="l_dot"></div>
        <p class="c_description3">Dhaka Oke, Product Designer</p>

            
    </div>
    <div class="l_image_container">
        <img class="l_image1" src="@/assets/feature_left_image1.svg">
        <img class="l_image2" src="@/assets/feature_left_image2.svg">
    </div>
</div>