/* style for feature_quote_left */
.l_feature_quote_left {
    margin: 0px 0px;
    min-width: 1349px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background: #333333;
    position: relative;
}
/* style for content_feature */
.l_feature {
    width: 470px;
    height: 258px;
    margin: 0px 0px;
    padding: 171px;
    padding-right: 0px;
    padding-left: 225px;
    float: left;

    
}
/* style for topic_title */
.l_feature .c_topic_title {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
}
/* style for description */
.c_description {
    padding-top: 24px;
    margin: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
/* style for description2 */
.c_description2 {
    padding-top: 48px;
    margin: 0px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
/* style for circle */
.l_dot {
    position: absolute;
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-top: 8px;
    
}
/* style for description3 */
.c_description3 {
    padding-top: 10px;
    padding-left: 32px;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
/* style for image container */
.l_feature_quote_left .l_image_container {
    width: 491px;
    height: 286px;
    float: right;
    padding-top: 157px;
    padding-right: 129px;
}
/* style for image1 in image_container */
.l_image_container .l_image1 {
    width: 400px;
    height: 232.68px;
    position: absolute;
    padding-top: 53.32px;
    padding-right: 91px;
}
/* style for image2 in image_container */
.l_image_container .l_image2 {
    width: 400px;
    height: 232.68px;
    float: right;

}



