.Feature_Left {
    height: 600px;
}

.content_left {
    height: 258px;
    width: 470px;
    padding-top: 171px;
    padding-left: 235px;
    float: left;
    
}

.content_left .content_h3 {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    
    color: #000000;
}

.content_left .content_pb {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    
    color: #000000;
    padding-bottom: 48px ;
}

.content_left .content_p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

.content_left p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #000000;
    float: left;
    margin: 0px 0px;
    padding-left: 8px; 
}
.content_left img {
    float: left;  
    
}

.Media_left .imgb {

    position: absolute;
    width: 400px;
    height: 232.68px;
    margin-top: 53.32px;

    background: #000000;
    border-color: cyan;
    
}

.Media_left .imgw {
    width: 400px;
    height: 232.68px;
    background: #F2F2F2;
    float: right;

}

.Media_left {
    width: 491px;
    height: 286px;
    float: right;
    padding-top: 210px;
    padding-right: 120px;

}