<div class="l_Feature_Left">
<!-- layout of content left  -->
    <div class="l_content_left">

        <h3 class="c_content_h3">Your Best Value Proposition</h3>
        <p class="c_content_pb"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</b></p>
        <p class="c_content_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>                     
        <img src="@/assets/Ellipse_L.svg" alt="Media">
        <p>Dhaka Oke, Product Designer</p>
    
    </div>
<!-- layout of media left with one black and one white box -->
    <div class="l_media_left">

        <div class="l_imgb"></div>
        <div class="l_imgw"></div>
    
    </div>
</div>