<div class="l_Feature_Left">
<!-- component of content left  -->
    <div class="c_content_left">

        <h3 class="content_h3">Your Best Value Proposition</h3>
        <p class="content_pb"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</b></p>
        <p class="content_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>                     
        <img src="@/assets/Ellipse_L.svg" alt="Media">
        <p>Dhaka Oke, Product Designer</p>
    
    </div>
<!-- component of media left with one black and one white box -->
    <div class="c_media_left">

        <div class="imgb"></div>
        <div class="imgw"></div>
    
    </div>
</div>