.l_Feature_Right {
    min-height: 600px;
    height: 100%;
    background-color: #F2F2F2;
    position: relative;
}
/* component medai image left  */
.l_Feature_Right .l_container_media_R img {
    width: 491px;
    height: 286px;
    padding-top: 157px;
    padding-left: 174px;
    float: left;
}
/* layout content left  */
.l_container_content_R {
    width: 470px;
    height: 258px;
    float: right;
    padding-top: 171px;
    padding-right: 140px;
}
/* component content left text  */
.l_container_content_R .c_content_h3 {
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
     
    color: #000000;
}
/* component content left text  */
.l_container_content_R .c_content_pb {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 0px;
    
    color: #000000;
    /* padding-bottom: 28px; */
    /* Customer Quote */ 

}
/* component content left text  */
.l_container_content_R .c_content_p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    
    color: rgba(0, 0, 0, 0.5);
    /* Customer Quote */    
}
/* component content left text  */
.L_container_content_R p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    
    color: #000000;
    /* Dhaka Oke, Product Designer */    
}
.l_container_content_R img {
    float: left;
    padding-right: 8px;
}