<div class="l_Feature_Right">
<!-- component media image -->
    <div class="c_container_media_R">
        <img src="@/assets/feature_quote_right.svg" alt="Media">
    </div>
<!-- component content right  -->
    <div class="c_container_content_R">
            <h3 class="content_h3">Your Best Value Proposition</h3>
            <p class="content_pb"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</b></p>
            <p class="content_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="@/assets/Ellipse_L.svg" atl="Ellipse">
            <p>Dhaka Oke, Product Designer</p>
    </div>

</div>
