.footer-service {
    font-size: 14px;
    line-height: 17px;
    padding: 50px 6.66%;
    display: flow-root;
}

.footer-service-extend {
    float: left;
    width: 25%;
    color: #696969;
}
.footer-service-extend ul {
    list-style-type: none;
    padding: 0px;
}
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #000000;
}
.title2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #000000;
}
.t_title {
    color: black;
    font-size: 24px;
    font-weight: bold;
}
li {
    margin-bottom: 10px;
}

.footer {
    width: 100%;
}
.center {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    
    color: #000000;
}

.footer-service-extend1 {
    float: left;
    width: 15%;
    color: #696969;
}
.footer-service-extend1 ul {
    list-style-type: none;
    padding: 0px;
}
.vertical { 
        border-left: 1px solid black; 
        height: 200px; 
        position:absolute; 
        left: 49%; 
        display:inline-block;
        margin-right:20px;
    }
p {
    margin-bottom: 80px;

}
a.privacy{
    margin-bottom: 80px;
}