<div class="l_social-proof">
        <div class="c_social-proof-extend">
            <div class="s-title">
                <p class="trust">Trusted by the World's Best Companies</p>
            </div>
            <div class="logo">
                <img src="@/assets/logo.png"/>
                <img src="@/assets/logo2.png"/>
                <img src="@/assets/logo3.png"/>
                <img src="@/assets/logo4.png"/>
                <img src="@/assets/logo5.png"/>
                <img src="@/assets/logo6.png"/>
            </div>
    </div>
</div>