<div class="social-proof">
        <div class="social-proof-extend">
            <div class="s-title">
                <p class="trust">Trusted by the World's Best Companies</p>
            </div>
            <div class="logo">
                <img class="image" src="@/assets/logo.png"/>

            </div>
            <div class="logo">
                <img class="image" src="@/assets/logo2.png"/>

            </div><div class="logo">
                <img class="image" src="@/assets/logo3.png"/>

            </div>
            <div class="logo">
                <img class="image" src="@/assets/logo4.png"/>

            </div>
            <div class="logo">
                <img class="image" src="@/assets/logo5.png"/>

            </div>
            <div class="logo">
                <img class="image" src="@/assets/logo6.png"/>

            </div>
    </div>
</div>