
/* Keyword and how to use */
/* Padding properties: are used to generate space around an element's content, inside of any defined borders. */

/* -------------    Start of Header layout container    -------------  */
/* style for l_header */
.l_header {
  width: 1349px;
  height: 64px;
  margin: 0px 0px;
}
/* -------  end of header layout container  ------- */


/* -------  start of layout company_name  ------- */
/* style for layout l_company__name */
.l_company__name {
  float: left;
  color: black;
  margin-left: 40px;
  margin-top: 18px;

}
/* style for set margin for .c_name h1 */
.l_company__name h1{
  margin: 0px 0px;
}
/* style for component c_name */
.c_company__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  /* text color */
  color: #000000;
  
}
/* -------  end of layout company_name  ------- */



/* -------  start of layout l_navbar__right  ------- */
/* style for layout .l_navbar__right */
.c_navbar__right {
  float: right;
  height: 64px;
}
/* style for position anchor tag */
.c_navbar__right a {
  float: left;
  color: black;

  margin: 21px;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
/* style for achor tag text */
.c_navbar__right .a_style {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #000000;
}
/* style for sign up button */
.c_navbar__right .sign_up {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #000000;


  padding: 10px 40px;
  margin: 10px ;
  margin-right: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-color: black;
}
/* -------  end of layout l_navbar__right  ------- */
