<!-- Header bar for homepage -->
<header class="l_header">
  <div class="l_company__name">
    <h1 class="c_company__name">trade</h1>
  </div>

  <nav class="l_navbar__right">
      <a href="#link1" class="c_a__style">Link 1</a>
      <a href="#link2" class="c_a__style">Link 2</a>
      <a href="#link3" class="c_a__style">Link 3</a>
      <a href="#link4" class="c_a__style">Link 4</a>
      <div class="l_sign__up">
        <a href="#sign_up"class="c_sign__up">Sign Up</a>
      </div>
      
      
  </nav>
</header>