<div class="l_pbt_container">
    <div class="l_pbt_top_card">
        <div class="l_image">
            <img src="@/assets/pbm_image.svg">
        </div>
        <div class="l_pbt_content">
            <p class="c_top_description">Author name</p>
            <p class="c_mid_description">The best way to wireframe a website</p>
            <p class="c_read_more">Read More</p>
        </div>
    </div>

    <div class="l_pbt_bottom_card"> 
        <div class="l_pbt_card_left">
            <p class="c_cdl_title">Keys to writing copy that actually converts and sells users</p>
            <p class="c_cdl_summury">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <P class="c_cdl_link">Read More</P>
        </div>
        <div class="l_pbt_card_right">
            <p class="c_cdr_title">Keys to writing copy that actually converts and sells users</p>
            <p class="c_cdr_summury">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <P class="c_cdr_link">Read More</P>
        </div>
    </div>    
</div>