<div class="l_pbt_container">
    <div class="c_pbt_top_card">
        <div class="image">
            <img src="@/assets/pbm_image.svg">
        </div>
        <div class="pbt_content">
            <p class="top_description">Author name</p>
            <p class="mid_description">The best way to wireframe a website</p>
            <p class="read_more">Read More</p>
        </div>
    </div>

    <div class="c_pbt_bottom_card"> 
        <div class="pbt_card_left">
            <p class="cdl_title">Keys to writing copy that actually converts and sells users</p>
            <p class="cdl_summury">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <P class="cdl_link">Read More</P>
        </div>
        <div class="pbt_card_right">
            <p class="cdr_title">Keys to writing copy that actually converts and sells users</p>
            <p class="cdr_summury">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
            <P class="cdr_link">Read More</P>
        </div>
    </div>    
</div>